.button{
    border: none;
    /* border: 2px solid var(--primary); */
    color: var(--white);
    font: var(--button);
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: .25rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.button.is-active{
    background-color: var(--white);
    padding: 10px;
    border: 2px solid var(--primary);
}
.button.is-primary{
    background-color: var(--primary);
}
.button.is-transparent{
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}
.button img{
    vertical-align: middle;
}