    .mention{

    }
.mention-cover{
    margin-block: 2.5rem;
}
.mention-cover img{
    text-align: center;
    max-inline-size: 100%;
}
    .mention-info{
        padding-block: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
.mention-link{
    inline-size: 17rem;
    padding-inline-start: 4px;
    background-color: var(--primary);
    font: var(--headline5);
    color: var(--white);
    text-decoration: none;
    padding-inline: .5rem;
    padding-block: .25rem;
    box-shadow: -5px 5px 0 var(--white);
}
.mention-text p{
    font: var(--body1);
}
    .mention-button{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
.mention:nth-child(even) .mention-info{
    order: -1;
}

@media screen and (min-width:768px){
    .mention{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .mention-cover{
        flex-grow: 1;
    }
    .mention-info{
        flex-grow: 1;
        padding: 0;
    }
    .mention-button{
        flex-direction: row;
        gap: 1rem;
    }
}
@media screen and (min-width:1366px){
    .mention{
        padding-inline: 120px;
    }
   
}